.figure-img {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
}

.figure-svg {
    position: absolute;
    width: 100%;
    height: 101%;
    top: -1%;
    fill: white;
    z-index: 3;
    cursor: pointer;
}

.figure {
    position: relative;
    width: 270px;
    height: 360px;
}

.custom-img-pos {
    object-position: 50% -15%;
}

.figure-text {
    position: relative;
    text-align: center;
    bottom: 90%;
    font-size: 0.9em;
    color: white;
    opacity: 0%;
    transition: 500ms;
    padding: 20px;
    ;
    z-index: 2;
}

.figure-svg:hover~.figure-text {
    opacity: 100%;
}

.figure-back {
    width: 270px;
    height: 0px;
    position: absolute;
    z-index: 1;
    background-color: #255b9eea;
    bottom: 0;
    transition: 400ms ease-in-out;
}

.green {
    background-color: #48651Dea;
}

.brown {
    background-color: #8D5F0Fea;
}

.blue {
    background-color: #255b9eea;
}

.figure-svg:hover~.figure-back {
    height: 360px;
}

.gallery-table {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.table-element {
    margin: 25px;
}

.element-heading {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    border-bottom: rgb(161, 161, 161) solid 2px;
    width: 170px;
    margin: auto;
    margin-bottom: 5px;
}

@media only screen and (max-width: 850px) {
    .figure-img {
        object-fit: cover;
        display: block;
        width: 100%;
        height: 100%;
    }
    .figure-svg {
        position: absolute;
        display: block;
        width: 100%;
        height: 101%;
        top: -1%;
        fill: white;
    }
    .figure {
        position: relative;
        width: 300px;
        height: 400px;
    }
    .figure-back {
        width: 300px;
    }
    .figure-svg:hover~.figure-back {
        height: 400px;
    }
    .figure-text {
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 350px) {
    .figure {
        position: relative;
        width: 150px;
        height: 200px;
    }
    .element-heading {
        margin: 10px 0;
        border: none;
        width: auto;
    }
    .figure-back {
        width: 150px;
    }
    .figure-svg:hover~.figure-back {
        height: 200px;
    }
    .figure-text {
        font-size: 0.9em;
    }
}
