.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.window {
    width: 200px;
    height: auto;
    padding: 10px;
    border-radius: 20px;
    position: relative;
}

.window-heading {
    text-align: center;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 1em;
    margin: auto;
}

.window-img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    margin: auto;
    margin-top: 10px;
    z-index: 1;
    transition: 300ms;
    opacity: 80%;
    border-radius: 4px;
}

.window-img:hover {
    opacity: 100%;
}

@media only screen and (max-width: 280px) {
    .window {
        width: 120px;
    }
    .window-heading {
        width: auto;
    }
    .window-img {
        width: 120px;
        height: 90px;
    }
}