/* ---- styles for pages ---- */

.page h2 {
    font-family: themix;
    font-size: 30px;
    font-weight: bold;
    margin: 25px 0px 10px;
    text-align: center;
}

.page h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 1em 0 0.2em;
}

.page strong {
    font-weight: bold;
}

.page p {
    margin: 0 0 1em;
}

.page ul,
.page ol {
    padding-left: 1em;
}

.two-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.two-column-item {
    width: calc(50% - 8px)
}

.columns {
    column-count: 3;
    column-gap: 8px;
    list-style: none;
}


/* ---- styles for smaller displays ---- */

@media only screen and (max-width: 850px) {
    .columns {
        column-count: 2;
    }
}

@media only screen and (max-width: 350px) {
    .page h2 {
        font-size: 18px;
    }
    .two-column-item {
        width: 100%;
    }
    .columns {
        column-count: 1;
    }
}

@media only screen and (max-width: 270px) {
    .link {
        width: 150px;
        height: 100px;
        padding-top: 50px;
        font-size: 20px;
    }
}